* {
  font-family: "MapleLight";
  box-sizing: border-box;
  -ms-overflow-style: none;

}
::-webkit-scrollbar {
  display: none;
}

.App {
  background-color: white;
  height: 100vh;
  font-size: 10px;
  color: black;
}

.body {
  height: 97vh;
}

.main-fontSize {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 124rem;
  transform: translate(-50%, -50%);
  font-size: 8rem;
}

.footer {
  height: 3vh;
  width: 100vw;
  font-size: 2rem;
  background-color: aqua;
  flex-direction: row!important;
  justify-content: flex-end!important;
  padding: 1vh;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: "MapleLight";
  src: url(/src/font/Maplestory_Light.ttf);
}

@font-face {
  font-family: "MapleBold";
  src: url(/src/font/Maplestory_Bold.ttf);
}