* {
  font-family: "Poppins";
  box-sizing: border-box;
  -ms-overflow-style: none;
  cursor: none;
}
::-webkit-scrollbar {
  display: none;
}

.cursor {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: white;
  mix-blend-mode: difference;
}

.App {
  background-color: #202020;
  height: 100vh;
  font-size: 10px;
  color: white;
}

.header {
  height: 12vh;
  font-size: 10vh;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  transform-style: preserve-3d;
  transition: all 1s;
}

.header:hover {
  transform: rotateY(180deg);
}

.body {
  height: 85vh;
}

.main-fontSize {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 10vh;
  user-select: none;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.menu {
  width: 100rem;
  height: 50rem;
}

td {
  font-size: 5rem;
  background-color: #202020;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  -webkit-text-stroke: 0.2rem #ffffff;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  opacity: 0.3;
  transition: all 0.5s linear;
}:hover {
  opacity: 1;
  -webkit-text-fill-color: white;
}

.footer {
  height: 3vh;
  width: 100vw;
  font-size: 2vh;
  flex-direction: row!important;
  justify-content: flex-end!important;
  padding: 1vh;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: "MapleLight";
  src: url(/src/font/Maplestory_Light.ttf);
}

@font-face {
  font-family: "MapleBold";
  src: url(/src/font/Maplestory_Bold.ttf);
}