.menu {
    width: 100rem;
    height: 50rem;
}

td {
    vertical-align: top;
    font-size: 3rem;
    transform-style: preserve-3d;
    transition: all 1s;
    background-color: aliceblue;
}

td:hover {
    transform: rotateY(180deg);
}

section {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 2.5% 5%;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
    box-shadow: 0.5rem 0.5rem #bbb;
}